<div class="jumbotron">
  <h1>JoChi Travel Co. Llc.</h1>
    <p>JoChi will drag you wherever you want (smirk face)</p>
</div>

    <!-- <div>
      <h4>Places to Visit:</h4>
      <% if @places.any?%>
      <ul>
        <% @places.each do |p| %>
          <li><%= p["place"] %></li>
      <% end %>
      </ul>
      <% else %>
      <p> There are no places to display at this time <p>
      <% end %>
    </div> -->
    
      <img class="mama" src="https://miro.medium.com/max/612/1*rzwkLDigex6H3YWyNbGUsg.gif">
    
    

<div class="card quote">
  <div class="card-header">
    Just a random quote
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>“Jet Lag is for Amateurs”</p>
      <footer class="blockquote-footer">JoChi the travelers</footer>
    </blockquote>
  </div>
</div>