@import "bootstrap-sprockets";
@import "bootstrap";

body{
  background-image: url("https://img.freepik.com/free-vector/green-tropical-leaves-decorative-background_52683-18995.jpg?size=626&ext=jpg");
}

.container {
  background-color: white;
  border-radius: 8px;
  margin: 10%;
  padding: 15px
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

.quote{
  margin: 10%;
  padding: 15px
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 8px;
}